body {
	background-image: url("https://i.pinimg.com/originals/b6/65/a2/b665a2c72476a408bf3e6de098e0f0ee.jpg");
	background-repeat: no-repeat;
}

h1, h3 {
	text-align: center;
	font-family: 'Noto Sans' sans-serif;
}

p {
  justify-content: center;
  display: flex;
}

.accordion {
  background-color: #eee;
  color: #444;
  padding: 20px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.5s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

footer {
  display: flex;
  justify-content: center;
  align-self: flex-end;

}



