body {
	background-color: #262673;
	margin: 0;
}

h1, h3 {
	font-family: 'Noto Sans', sans-serif;
}

img {
    height: 350px;
    width: auto;
    box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.75);
}
	


a {
	text-decoration: none;
	display: inline-flex;
	padding: 8px 16px;
	margin: 20px;
	font-family: 'Noto Sans', sans-serif;

}

a:hover {
	background-color: red;
	color: white;
}

.previous {
	background-color: white;
	color: red;
}

.next {
	background-color: white;
	color: red;
}


